{% extends 'base.html' %}

{% block title %} Home  {% endblock title %}

{% block body %}


<div class="container my-3">
  <h2>Add a ToDo</h2>
  <form action="/" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Todo Title</label>
      <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Todo Description</label>
      <input type="text" class="form-control" name="desc" id="desc">
    </div>
    <div class="mb-3">
      <label for="time_todo" class="form-label">Set Deadline</label>
      <input type="text" class="form-control" name="time_todo" id="time_todo">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="container my-3">
  <h2>Your ToDos</h2>


  {% if allTodo|length ==0 %}

  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:">
      <use xlink:href="#exclamation-triangle-fill" />
    </svg>
    <div>
      No records found!! Please add Todos!
    </div>
  </div>

  {% else %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Title</th>
        <th scope="col">Deadline</th>
        <th scope="col">Description</th>
        <th scope="col">Created At</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in allTodo %}

      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{todo.title}}</td>
        <td>{{todo.time_todo}}</td>
        <td>{{todo.desc}}</td>
        <td>{{todo.date_created}}</td>
        <td>
          <a href="/update/{{todo.sno}}" type="button" class="btn btn-outline-success btn-sm mx-1">Update</a>
          <a href="/delete/{{todo.sno}}" type="button" class="btn btn-outline-danger btn-sm mx-2">Delete</a>
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
  {% endif %}

  {% endblock body %}

</div>